
.img{
  height: 215px;
  width: 450px;
  display: flex;
margin-left: 20px;
}

.bocuc {
  display: flex;

}

.fim {
  width: 1440px;
  background-color: rgba(217, 217, 217, 1);
  height: 427px;
}
.Banne{

  margin-top: 100px;
}
/* ban.css */

